<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Bondfire</title>
</head>
<body>
    <div class="grid-containter">
        <%- include('./components/header') %>
        <div class="item2">
            <p>Welcome to the</p>
            <p style="margin-left: 10%; font-size: 60px; font-weight: bold;">Bondfire podcast</p>
            <button style="margin-left: 10%; font-size: 20px; float: left;" onclick="window.location = '/episodes'">Start Listening</button>
            <button style="margin-left: 1%; font-size: 20px; float: left; background-color: #aba8a7; color: black;">Other Sources</button>
        </div>
        <div class="item3"><h1>maybe further description. maybe include our names or some other stuff</h1></div>
    </div>

    <!-- go fucking kill yourself daft cunt -->
</body>
</html>