<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Bondfire</title>
</head>
<body>
    <div class="grid-containter">
        <%- include('./components/header') %>
        <div class="item2">
            <h1>main content with logo and slight description</h1>
        </div>
        <div class="item3"><h1>maybe further description. maybe include our names or some other stuff</h1></div>
    </div>

    <!-- go fucking kill yourself daft cunt -->
</body>
</html>